
@{
    ViewBag.Title = "BrowseResumes";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX </title>
</head>

<body>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Browse Resumes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 mb-3">
                    <div class="wrap-search-filter row">
                        <div class="col-lg-3 col-md-3 col-xs-12 pl-2 pr-2">
                            <input type="text" class="form-control" placeholder="Keyword: Title" id="title">
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12 pl-2 pr-2">
                            <input type="text" class="form-control" id="city" autocomplete="off" placeholder="Location: City">
                        </div>
                        <div class="col-lg-3 col-md-3 offset-lg-3 col-xs-12 pl-2 pr-2" style="position: absolute; margin-top: 41px; z-index: 1;">
                            <div class="list-group" style="max-height: 229px; overflow-y: auto;" id="show-list">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12 pl-2 pr-2">
                            <input type="text" class="form-control" placeholder="Keyword: Name" id="name">
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <button type="submit" class="btn btn-common float-right filter" style="z-index:0;">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="row resumes" style="width:100%;">

                </div>
                <!-- Start Pagination -->
                <div class="justify-content-start flex-wrap" id="pagination">
                    <!-- left arrow -->
                    <div class="arrow-button">
                        <a style="background:none; cursor:pointer;" class="m-0 p-0" id="prev">
                            <img src="@Url.Content("~/Content/img/left-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                        </a>
                    </div>
                    <!-- Pagination tab's containing page numbers -->
                    <div class="paginate-button">
                        <ul class="pagination" id="pages" style="margin-top:0px;">
                        </ul>
                    </div>
                    <div class="arrow-button">
                        <a style="background: none; cursor: pointer;" class="m-0 p-0" id="next">
                            <img src="@Url.Content("~/Content/img/right-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                        </a>
                    </div>
                </div>
                <!-- End Pagination -->
            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    @section scripts{

        <script>

            $(document).ready(function () {
                let TotalRecords = 0;
                let PageSize = 10;
                let pages = 0;
                let pageTabs = 0;
                let counter = 1;
                let city_data;
                let filter = { 'title': '', 'name': '' };
                let base64_string = "";
                let url = "";
                let skill_data={};
                let ids=[];

                $.ajax({
                        type: "GET",
                        url: "/api/Skills",
                        success: function (response) {
                            response.forEach(element=>{
                                skill_data[element['id']]=element['name'];
                            });
                        }
                    });

                function Resumes() {

                    $.ajax({
                        type: "POST",
                        url: "/api/Candidate/Resumes?start=" + 0 + "&end=" + PageSize,
                        data: JSON.stringify(filter),
                        processData: false,
                        contentType: 'application/json',
                        success: function (response) {
                            response['data'].forEach(data => {
                                base64_string = "";
                                data.image != "" ? base64_string = data.image : '';
                                if (base64_string != "") {
                                    extension = base64_string.split(';')[0].split('/')[1]
                                    // Convert base64 to byte array
                                    let byteNumbers = new Uint8Array([...atob(base64_string)].map(char => char.charCodeAt(0)));

                                    // Create a Blob from the byte array
                                    let blob = new Blob([byteNumbers], { type: 'image/' + extension });
                                    let blobUrl = URL.createObjectURL(blob);
                                    url = blobUrl;
                                }
                                else {
                                    url = "../../Content/img/profile.png";
                                }
                                ids = JSON.parse(data.skillids);

                                $('.resumes').append(`
                                    <div class="col-lg-6 col-md-12 col-xs-12">
                                        <div class="manager-resumes-item">
                                            <div class="manager-content">
                                                <a href="resume.html"><img class="resume-thumb" src="${url}" alt=""></a>
                                                <div class="manager-info">
                                                    <div class="manager-name">
                                                        <h4><a style="text-transform:capitalize;" href="/candidate/Resume/${btoa(data.id.toString())}">${data.name}</a></h4>
                                                        <h5>${data.title}</h5>
                                                    </div>
                                                    <div class="manager-meta">
                                                        <span class="location"><i class="lni-map-marker"></i> ${data.cityname}, ${data.countryname}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-body">
                                                <div class="content">
                                                    <p>${data.about_me}</p>
                                                </div>
                                                <div class="resume-skills">
                                                    <div class="tag-list float-left">
                                                        ${ids['id'].map(element => `<span>${skill_data[element]}</span>`).join('')}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     `);

                            })
                            $('.resumes').css('min-height', '0px');
                            TotalRecords = response['totalRecords'];
                            pages = Math.ceil(TotalRecords / PageSize);
                            pageTabs = Math.ceil(pages / 5);
                            $('#prev img').css('filter', '');
                            $('#next img').css('filter', '');
                            if (pages == 0) {
                                $('.resumes').html('<div style="width:100%; margin-top:18px; text-align:center;"><p class="font-weight-bold" style="font-size:20px;">No Data Available</h6><p>');
                                $('#pagination').removeClass('d-flex');
                                $('#pagination').addClass('d-none');
                            }
                            else if (pages <= 5) {
                                $('#pagination').removeClass('d-none');
                                $('#pagination').addClass('d-flex');
                                $('#prev img').css('filter', 'saturate(0)');
                                $('#next img').css('filter', 'saturate(0)');

                                for (let i = 1; i <= 5; i++) {
                                    $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                                    if (i == pages) {
                                        break;
                                    }
                                }
                                $('#prev img').css('filter', 'saturate(0)');
                            }
                            else {
                                $('#pagination').removeClass('d-none');
                                $('#pagination').addClass('d-flex');
                                for (let i = 1; i <= 5; i++) {
                                    $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);

                                }
                                $('#prev img').css('filter', 'saturate(0)');
                            }

                            $('a.color').filter(':contains("1")').css('color', 'black');
                        }
                    });
                }

                Resumes();

                $(document).on('click', '.color', function (e) {
                    $(this).css('color', 'black');
                    $('.color').not(this).css('color', 'white');
                    let value = $(this).text();
                    let end = value * PageSize;
                    let start = end - PageSize;
                    $('.resumes').css('min-height', '249px');
                    $('.resumes').html('');
                    $.ajax({
                        type: "POST",
                        url: "/api/Candidate/Resumes?start=" + start + "&end=" + end,
                        data: JSON.stringify(filter),
                        processData: false,
                        contentType: 'application/json',
                        success: function (response) {
                            response['data'].forEach(data => {
                                base64_string = "";
                                data.image != "" ? base64_string = data.image : '';
                                if (base64_string != "") {
                                    extension = base64_string.split(';')[0].split('/')[1]
                                    // Convert base64 to byte array
                                    let byteNumbers = new Uint8Array([...atob(base64_string)].map(char => char.charCodeAt(0)));
                                    // Create a Blob from the byte array
                                    let blob = new Blob([byteNumbers], { type: 'image/' + extension });
                                    let blobUrl = URL.createObjectURL(blob);
                                    url = blobUrl;
                                }
                                else {
                                    url = "../../Content/img/profile.png";
                                }
                                ids = JSON.parse(data.skillids);
                                $('.resumes').append(`
                                    <div class="col-lg-6 col-md-12 col-xs-12">
                                        <div class="manager-resumes-item">
                                            <div class="manager-content">
                                                <a href="resume.html"><img class="resume-thumb" src="${url}" alt=""></a>
                                                <div class="manager-info">
                                                    <div class="manager-name">
                                                        <h4><a style="text-transform:capitalize;" href="/candidate/Resume/${btoa(data.id.toString())}">${data.name}</a></h4>
                                                        <h5>${data.title}</h5>
                                                    </div>
                                                    <div class="manager-meta">
                                                        <span class="location"><i class="lni-map-marker"></i> ${data.cityname}, ${data.countryname}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-body">
                                                <div class="content">
                                                    <p>${data.about_me}</p>
                                                </div>
                                                <div class="resume-skills">
                                                    <div class="tag-list float-left">
                                                        ${ids['id'].map(element => `<span>${skill_data[element]}</span>`).join('')}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `);
                            })
                            $('.resumes').css('min-height', '0px');
                        }
                    });
                });

                $('#city').keyup(function () {
                    let value = $(this).val();
                    $('#show-list').css('min-height', '229px');
                    $('#city').data('value', 0);
                    $('#show-list').html('');
                    if (value != "") {
                        $.ajax({
                            type: "GET",
                            url: "/api/City?letter=" + value,
                            success: function (response) {
                                city_data = response;
                                response.forEach(item => {
                                    $('#show-list').append("<a href=''class='list-group-item list-group-item-action' data-value=" + item.id + ">" + item.cityname + "</a>");
                                });
                            }
                        });
                    }
                    else {
                        $('#show-list').html('');
                    }
                    $('#show-list').css('min-height', '0px');
                });

                $(document).on('click', '#show-list a', function (e) {
                    e.preventDefault();
                    $('#city').val($(this).text());
                    $('#city').data('value', $(this).data('value'));
                    $('#show-list').html('');
                });

                $('.filter').click(function (event) {
                    $('#show-list').html('');
                    event.preventDefault();
                    $('.resumes').css('min-height', '249px');
                    filter['title'] = $('#title').val();
                    filter['name'] = $('#name').val();

                    let city_value = $('#city').val();
                    let city_id = $('#city').data('value');
                    filter['cityid'] = city_id;

                    if (city_value != "" && city_id == 0) {
                        city_value = city_value.toLowerCase();
                        let city = city_data.filter(data => data.cityname.toLowerCase() == city_value);
                        if (city.length > 0) {
                            city_id = city[0].id;
                            filter['cityid'] = city_id;
                        }
                    }
                    if (city_value == "")
                        delete filter.cityid;

                    $('.resumes').html('');
                    $('#pages').html('');
                    Resumes();
                });

                $('#next').click(function () {
                    if (counter != pageTabs) {
                        counter++;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color" >${i}</a></li>`);
                            if (i == pages) {
                                $('#next img').css('filter', 'saturate(0)');
                                break;
                            }
                        }
                        $('#prev img').css('filter', '');
                    }
                });

                $('#prev').click(function () {
                    if (counter == 1 && pageTabs == counter) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', 'saturate(0)');
                    }
                    else if (counter == 1) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', '');
                    }
                    else {
                        counter--;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                        }
                        if (counter == 1) {
                            $('#prev img').css('filter', 'saturate(0)');
                            $('#next img').css('filter', '');
                        }
                    }
                });
            });
        </script>
    }

    <style>

        @@media (min-width: 300px) and (max-width:766px) {
            .col-lg-3.offset-lg-3 {
                position: static; /* Reset position */
                margin-top: 97px !important; /* Adjust margin as needed */
            }
        }

        @@media (min-width: 768px) and (max-width:991px) {
            .col-lg-3.offset-lg-3 {
                position: static; /* Reset position */
                margin-left: 180px;
            }
        }
    </style>
</body>
</html>