
@{
    ViewBag.Title = "Jobs";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX - Bootstrap HTML5 Job Portal Template</title>
    <style>
        .list-group::-webkit-scrollbar {
            display: none;  
        }
    </style>
</head>

<body>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Browse Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Job Browse Section Start -->
    <section class="job-browse section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="wrap-search-filter row">
                        <div class="col-lg-3 col-md-3 col-xs-12 pl-2 pr-2">
                            <input type="text" class="form-control" placeholder="Keyword: Name" id="title">
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12 pl-2 pr-2">
                            <input type="text" class="form-control"  id="city" autocomplete="off" placeholder="Location: City">
                        </div>
                        <div class="col-lg-3 col-md-3 offset-lg-3 col-xs-12 pl-2 pr-2" style="position: absolute; margin-top: 41px; z-index: 1;">
                            <div class="list-group" style="max-height: 229px; overflow-y: auto;" id="show-list">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12 pl-2 pr-2">
                            <select class="form-control" id="job-type">
                                <option value="">Select Type</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <button type="submit" class="btn btn-common float-right filter" style="z-index:-1;">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="row jobs" style="width:100%;">

                </div>
        
                    <!-- Start Pagination -->
                    <div class="d-none justify-content-start flex-wrap" id="pagination">
                        <!-- left arrow -->
                        <div class="arrow-button">
                            <a style="background:none; cursor:pointer;" class="m-0 p-0" id="prev">
                                <img src="@Url.Content("~/Content/img/left-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                            </a>
                        </div>
                        <!-- Pagination tab's containing page numbers -->
                        <div class="paginate-button">
                            <ul class="pagination" id="pages" style="margin-top:0px;">
                            </ul>
                        </div>
                        <div class="arrow-button">
                            <a style="background: none; cursor: pointer;" class="m-0 p-0" id="next">
                                <img src="@Url.Content("~/Content/img/right-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                            </a>
                        </div>
                    </div>
                    <!-- End Pagination -->

            </div>
        </div>
    </section>
    <!-- Job Browse Section End -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    @section scripts{

        <script>
            function formatDate(date) {
                const currentDate = new Date();
                const diffTime = Math.abs(currentDate - date);
                const diffSeconds = diffTime / 1000;
                const diffMinutes = Math.floor(diffSeconds / 60);
                const diffHours = Math.floor(diffMinutes / 60);
                const diffDays = Math.floor(diffHours / 24);
                const diffMonths = Math.floor(diffDays / 30);
                const diffYears = Math.floor(diffMonths / 12);

                if (diffSeconds < 60) {
                    return Math.floor(diffSeconds) + " seconds ago";
                } else if (diffMinutes < 60) {
                    return diffMinutes + " minutes ago";
                } else if (diffHours < 24) {
                    return diffHours + " hours ago";
                } else if (diffDays < 30) {
                    return diffDays + " days ago";
                } else if (diffMonths < 12) {
                    return diffMonths + " months ago";
                } else {
                    return diffYears + " years ago";
                }
            }

            $(document).ready(function () {
                let TotalRecords = 0;
                let PageSize = 10;
                let pages = 0;
                let pageTabs = 0;
                let counter = 1;
                let city_data;
                let filter = { 'title': '', 'jobtype': '' };
                let base64_string = "";
                let url = "";

                function jobs() {
                    $.ajax({
                        type: "POST",
                        url: "/api/Job/JobList?start=" + 0 + "&end=" + PageSize,
                        data: JSON.stringify(filter),
                        processData: false,
                        contentType: 'application/json',
                        success: function (response) {
                            response['data'].forEach(data => {
                                base64_string = "";
                                data.logo != "" ? base64_string = data.logo : '';
                                if (base64_string != "") {
                                    extension = base64_string.split(';')[0].split('/')[1]
                                    // Convert base64 to byte array
                                    let byteNumbers = new Uint8Array([...atob(base64_string)].map(char => char.charCodeAt(0)));

                                    // Create a Blob from the byte array
                                    let blob = new Blob([byteNumbers], { type: 'image/' + extension });
                                    let blobUrl = URL.createObjectURL(blob);
                                    url = blobUrl;
                                }
                                else {
                                    url = "../../Content/img/jobicon.png";
                                }
                                $('.jobs').append(`
                                        <div class="col-lg-6 col-md-12 col-xs-12">
                                          <span class="job-listings-featured">
                                             <div class="row">
                                                <div class="col-lg-9 col-md-12 col-xs-12">
                                                    <div class="job-company-logo mr-2">
                                                       <img src="${url}" height="60" alt="">
                                                    </div>
                                                    <div class="job-details">
                                                        <h3><a href="/company/JobDetails/${btoa(data.id)}">${data.title}</a></h3>
                                                        <a href="/company/CompanyProfile/${btoa(data.company_id.toString())}" class="company-neme">${data.name}</a>
                                                        <div class="tags">
                                                            <span><i class="lni-map-marker"></i>${data.address}</span>
                                                            <span><i class="lni-alarm-clock"></i>${formatDate(new Date(data.created_at))}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-xs-12 text-right">
                                                   <div class="tag-type mt-0">
                                                        <span class="${data.jobType == "full-time" ? 'full-time' : 'part-time'} ml-0">${data.jobType}</span>
                                                    </div>
                                                    <button style="cursor: pointer;" class="btn btn-success apply mr-2" value="${data.id}">
                                                      Apply
                                                   </button>
                                                </div>
                                            </div>
                                        </span>
                                      </div>
                                     `);

                            })
                            $('.jobs').css('min-height', '0px');
                            TotalRecords = response['totalRecords'];
                            pages = Math.ceil(TotalRecords / PageSize);
                            pageTabs = Math.ceil(pages / 5);
                            $('#prev img').css('filter', '');
                            $('#next img').css('filter', '');
                            if (pages == 0) {
                                $('#pagination').removeClass('d-flex');
                                $('#pagination').addClass('d-none');
                            }
                            else if (pages <= 5) {
                                $('#pagination').removeClass('d-none');
                                $('#pagination').addClass('d-flex');
                                $('#prev img').css('filter', 'saturate(0)');
                                $('#next img').css('filter', 'saturate(0)');

                                for (let i = 1; i <= 5; i++) {
                                    $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                                    if (i == pages) {
                                        break;
                                    }
                                }
                                $('#prev img').css('filter', 'saturate(0)');
                            }
                            else {
                                $('#pagination').removeClass('d-none');
                                $('#pagination').addClass('d-flex');
                                for (let i = 1; i <= 5; i++) {
                                    $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);

                                }
                                $('#prev img').css('filter', 'saturate(0)');
                            }

                            $('a.color').filter(':contains("1")').css('color', 'black');
                        }
                    });
                }

                jobs();

                $(document).on('click', '.color', function (e) {
                    $(this).css('color', 'black');
                    $('.color').not(this).css('color', 'white');
                    let value = $(this).text();
                    let end = value * PageSize;
                    let start = end - PageSize;
                    $('.jobs').css('min-height', '646px');
                    $('.jobs').html('');
                    $.ajax({
                        type: "POST",
                        url: "/api/Job/JobList?start=" + start + "&end=" + end,
                        data: JSON.stringify(filter),
                        processData: false,
                        contentType: 'application/json',
                        success: function (response) {
                            response['data'].forEach(data => {
                                    base64_string = "";
                                    data.logo != "" ? base64_string = data.logo : '';
                                    if (base64_string != "") {
                                        extension = base64_string.split(';')[0].split('/')[1]
                                        // Convert base64 to byte array
                                        let byteNumbers = new Uint8Array([...atob(base64_string)].map(char => char.charCodeAt(0)));
                                        // Create a Blob from the byte array
                                        let blob = new Blob([byteNumbers], { type: 'image/' + extension });
                                        let blobUrl = URL.createObjectURL(blob);
                                        url = blobUrl;
                                    }
                                    else {
                                        url = "../../Content/img/jobicon.png";
                                    }
                                $('.jobs').append(`
                                      <div class="col-lg-6 col-md-12 col-xs-12">
                                          <span class="job-listings-featured">
                                             <div class="row">
                                                <div class="col-lg-9 col-md-12 col-xs-12">
                                                    <div class="job-company-logo mr-2">
                                                       <img src="${url}" height="60" alt="">
                                                    </div>
                                                    <div class="job-details">
                                                        <h3><a href="/company/JobDetails/${btoa(data.id)}">${data.title}</a></h3>
                                                        <a href="/company/CompanyProfile/${btoa(data.company_id.toString())}" class="company-neme">${data.name}</a>
                                                        <div class="tags">
                                                            <span><i class="lni-map-marker"></i>${data.address}</span>
                                                            <span><i class="lni-alarm-clock"></i>${formatDate(new Date(data.created_at))}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-xs-12 text-right">
                                                   <div class="tag-type mt-0">
                                                        <span class="${data.jobType == "full-time" ? 'full-time' : 'part-time'} ml-0">${data.jobType}</span>
                                                    </div>
                                                    <div>
                                                    <button style="cursor: pointer;" class="btn btn-success apply mr-2" value="${data.id}">
                                                      Apply
                                                   </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                      </div>
                                    `);
                            })
                            $('.jobs').css('min-height', '0px');
                        }
                    });
                });

                $('#city').keyup(function () {
                    let value = $(this).val();
                    $('#show-list').css('min-height', '229px');
                    $('#city').data('value', 0);
                    $('#show-list').html('');
                    if (value != "") {
                        $.ajax({
                            type: "GET",
                            url: "/api/City?letter=" + value,
                            success: function (response) {
                                city_data = response;
                                response.forEach(item => {
                                    $('#show-list').append("<a href=''class='list-group-item list-group-item-action' data-value=" + item.id + ">" + item.cityname + "</a>");
                                });
                            }
                        });
                    }
                    else {
                        $('#show-list').html('');
                    }
                    $('#show-list').css('min-height', '0px');
                });

                $(document).on('click', '#show-list a', function (e) {
                    e.preventDefault();
                    $('#city').val($(this).text());
                    $('#city').data('value', $(this).data('value'));
                    $('#show-list').html('');
                });

                $('.filter').click(function (event) {
                    $('#show-list').html('');
                    event.preventDefault();
                    $('.jobs').css('min-height', '646px');
                    filter['title'] = $('#title').val();
                    filter['jobtype'] = $('#job-type').val();

                    let city_value = $('#city').val();
                    let city_id = $('#city').data('value');
                    filter['cityid'] = city_id;

                    if (city_value != "" && city_id == 0) {
                        city_value = city_value.toLowerCase();
                        let city = city_data.filter(data => data.cityname.toLowerCase() == city_value);
                        if (city.length > 0) {
                            city_id = city[0].id;
                            filter['cityid'] = city_id;
                        }
                    }
                    if (city_value == "")
                        delete filter.cityid;

                    $('.jobs').html('');
                    $('#pages').html('');
                    jobs();
                });

                $(document).on('click', '.apply', function (e) {
                    e.preventDefault();
                    let id =this.value;
                    $.ajax({
                        type: "POST",
                        url: "/api/Candidate/ApplyJob?id=" + id,
                        success: function (response) {
                            $(location).attr('href', '/Candidate/Jobs');
                        }
                    });
                })

                $.ajax({
                    type: "GET",
                    url: "/api/Job/GetJobTypes",
                    success: function (response) {
                        response.forEach(item => {
                            $('#job-type').append("<option value=" + item.id + ">" + item.name + "</option >");
                        });
                    }
                });
                    
                // $.ajax({
                //     type: "GET",
                //     url: "/api/Company/GetCompanies",
                //     success: function (response) {
                //         response.forEach(item => {
                //             $('#company').append("<option value=" + item.id + ">" + item.name + "</option >");
                //         });
                //     }
                // });

                $('#next').click(function () {
                    if (counter != pageTabs) {
                        counter++;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color" >${i}</a></li>`);
                            if (i == pages) {
                                $('#next img').css('filter', 'saturate(0)');
                                break;
                            }
                        }
                        $('#prev img').css('filter', '');
                    }
                });

                $('#prev').click(function () {
                    if (counter == 1 && pageTabs == counter) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', 'saturate(0)');
                    }
                    else if (counter == 1) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', '');
                    }
                    else {
                        counter--;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                        }
                        if (counter == 1) {
                            $('#prev img').css('filter', 'saturate(0)');
                            $('#next img').css('filter', '');
                        }
                    }
                });
            });
        </script>
    }

<style>
        .apply {
            margin-top: 8px;
            padding:5px 15px;
            font-size:14px;
            text-transform:capitalize;
        }
        .full-time .part-time{
            font-size:6px!important;
        }
        @@media (min-width: 300px) and (max-width:766px) {
            .col-lg-3.offset-lg-3 {
                position: static; /* Reset position */
                margin-top: 97px!important; /* Adjust margin as needed */
            }
        }
        @@media (min-width: 768px) and (max-width:991px) {
        .col-lg-3.offset-lg-3 {
            position: static; /* Reset position */
            margin-left:180px;
            }
        }
       

</style>
</body>
</html>