
@{
    ViewBag.Title = "Profile";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX - Bootstrap HTML5 Job Portal Template</title>
    @Styles.Render("~/Content/css")

</head>

<body>

    <!-- Page Header Start -->
    @if (User.IsInRole("Company"))
     {
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Account</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     }
     else
     {
         <div style="padding-bottom:50px;">

         </div>
     }
    <!-- Page Header End -->
    <!-- Start Content -->
    <div class="section">
        <div class="container">
            <div class="row">
                @if (User.IsInRole("Company"))
                {
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="right-sideabr">
                            <h4>Manage Account</h4>
                            <ul class="list-item">
                                <li>@Html.ActionLink("Company", "CompanyProfile", "Company", routeValues: null, htmlAttributes: new { @class = "active" })</li>
                                <li><a href="manage-applications.html">Manage Applications</a></li>
                            </ul>
                        </div>
                    </div>
                }
                    <div class="col-lg-8 col-md-8 col-xs-12 company">
                        <div class="inner-box my-resume">
                            <div class="author-resume">
                                <div class="thumb">
                                    <img src="" id="myImage" alt="">
                                </div>
                                <div class="author-info" style="position: relative;">

                                    <h3 id="company_name"></h3>
                                    <p><span class="address d-none" id="address"><i class="lni-map-marker"></i></span> </p>
                                    <p>
                                        <span class="d-none" id="website"><i class="lni-chrome mr-2"></i></span> &nbsp; <span class="d-none" id="phone"><i class="lni-phone-handset mr-2"></i> </span>
                                        &nbsp; <span class="d-none" id="email"><i class="lni-envelope mr-2"></i> </span>
                                    </p>
                                    <div class="social-link">
                                        <a href="#" class="facebook d-none" target="_blank"><i class="lni-facebook-filled"></i></a>
                                        <a href="#" class="linkedin d-none" target="_blank"><i class="lni-linkedin-fill"></i></a>
                                        <a href="#" class="instagram d-none" target="_blank"><i class="lni-instagram-filled"></i></a>
                                        <a href="#" class="twitter d-none" target="_blank"><i class="lni-twitter-filled"></i></a>
                                    </div>
                                </div>
                                @if (User.IsInRole("Company"))
                                {
                                    <a href="" class="edit" style="position: absolute; top: 15px; right: 40px;">
                                        <img src="@Url.Content("~/Content/img/editing.png")" alt="YourAltText" height="30" class="mt-2" />
                                    </a>
                                }
                            </div>
                            <div class="overview item d-none">
                                <h3>Overview</h3>
                                <p id="overview"></p>
                            </div>
                            <div class="services item">
                                <h3>Services</h3>
                                <p id="services"></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    @section scripts {

        <script>
            $(document).ready(function () {
                if (!@User.IsInRole("Company").ToString().ToLower()) {
                    $('.company').removeClass('col-lg-8 col-md-12');
                    $('.company').addClass('col-lg-12 col-md-12 mx-auto');
                }

                let id =@ViewBag.Message;
                $.ajax({
                    type: "GET",
                    url: "/api/Company/CompanyDetails?id="+id,
                    success: function (response) {
                        $('#company_name').text(response.name)
                        $('#title').text(response.title)

                        if (response.address != "") {
                            $('#address').removeClass('d-none');
                            $('#address').append(response.address, ",");
                        }

                        if (response.website != "") {
                            $('#website').removeClass('d-none');
                            $('#website').append(response.website);
                        }
                        if (response.email != "") {
                            $('#email').removeClass('d-none');
                            $('#email').append(response.email);
                        }
                        if (response.phone != "") {
                            $('#phone').removeClass('d-none');
                            $('#phone').append(response.phone);
                        }
                        if (response.overview != "") {
                            $('#overview').parent().removeClass('d-none');
                            let overview = response.overview.replace(/\n/g, '<br>');
                            $('#overview').html(overview);
                        }

                        let services = response.services.replace(/\n/g, '<br>');
                        $('#services').html(services);
                        if (response.facebook != "") {
                            $('.facebook').attr('href', response.facebook);
                            $('.facebook').removeClass('d-none');
                        }
                        if (response.linkedin != "") {
                            $('.linkedin').attr('href', response.linkedin);
                            $('.linkedin').removeClass('d-none');
                        }
                        if (response.instagram != "") {
                            $('.instagram').attr('href', response.instagram);
                            $('.instagram').removeClass('d-none');
                        }
                        if (response.twitter != "") {
                            $('.twitter').attr('href', response.twitter);
                            $('.twitter').removeClass('d-none');
                        }

                        let base64_string = "";
                        response.logo != "" ? base64_string = response.logo : '';
                        // Extract the MIME type from the base64 string
                        if (base64_string != "") {
                            extension = base64_string.split(';')[0].split('/')[1]
                            let byteCharacters = atob(base64_string);
                            let byteNumbers = new Array(byteCharacters.length);
                            for (let i = 0; i < byteCharacters.length; i++) {
                                byteNumbers[i] = byteCharacters.charCodeAt(i);
                            }
                            let byteArray = new Uint8Array(byteNumbers);
                            let blob = new Blob([byteArray], { type: 'image/' + extension }); // Adjust the image type accordingly

                            // Create a URL for the Blob
                            let blobUrl = URL.createObjectURL(blob);

                            // Set the image source to the Blob URL
                            let img = document.getElementById('myImage');
                            img.src = blobUrl;
                        }
                    },
                    error: function (jqXHR) {
                        @*console.log('message', jqXHR.responseJSON.message);
                        console.log('Error Status Code:', jqXHR.status);*@
                        $(location).attr('href','/')
                    }
                });

                $('.edit').click(function (event) {
                    event.preventDefault();
                    id = btoa(id);
                    $(location).attr('href','/Company/EditCompanyDetails/'+ id)
                })
            });

        </script>
        <style>
            .custom {
                border-radius: 25px;
                color: black;
            }

            .instagram:hover {
                color: #C13584;
                border-color: #C13584;
            }
        </style>
    }
</body>
</html>