
@{
    ViewBag.Title = "EditJob";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX - Bootstrap HTML5 Job Portal Template</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>

    .required{
        color:red;
    }

    </style>
</head>

<body>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Edit Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Header End -->
    <!-- Content section Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-xs-12">
                    <div class="alert alert-danger d-none alert-dismissible fade show" role="alert">
                        <span id="message"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="post-job box">
                        <form class="form-ad" id="Edit-Job">
                            <div class="form-group">
                                <label class="control-label">Job Title</label><span class="required"> *</span>
                                <input type="text" class="form-control" name="title" maxlength="50" required placeholder="Write job title">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Job Type</label><span class="required"> *</span>
                                        <select class="form-control" name="job_typeid" id="job-type" required>
                                            <option data-display="General" selected value="">Job Type</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Job Category</label><span class="required"> *</span>
                                        <select class="form-control category-selector" name="job_categoryids" multiple required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Job Mode</label><span class="required"> *</span>
                                        <select class="form-control mode-selector" name="modeids" multiple required>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Select Skills</label><span class="required"> *</span>
                                        <select class="form-control skill-selector" name="skillids" multiple required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Minimum Salary</label><span class="required"> *</span>
                                        <input type="number" min="500" name="min_salary" class="form-control" placeholder="(e.g 500)">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Maximum Salary</label><span class="required"> *</span>
                                        <input type="number" min="1000" name="max_salary" class="form-control" placeholder="(e.g 1000)">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Salary Type</label><span class="required"> *</span>
                                        <select class="form-control" name="stype" required id="stype">
                                            <option data-display="General" selected value="">Select Type</option>
                                            <option value="1">Hourly</option>
                                            <option value="2">Daily</option>
                                            <option value="3">Weekly</option>
                                            <option value="4">Monthly</option>
                                            <option value="5">Yearly</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Email</label><span class="required"> *</span>
                                        <input type="text" required class="form-control" name="email" maxlength="100" placeholder="(e.g abc@gmail.com)">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Phone</label>
                                        <input type="number" min="0" class="form-control" name="phone" placeholder="(e.g 7959650045)">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Country</label><span class="required"> *</span>
                                        <select class="form-control" name="countryid" id="country" required>
                                            <option data-display="General" selected value="">Select Country</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">State</label><span class="required"> *</span>
                                        <select class="form-control" name="stateid" id="state" required>
                                            <option data-display="General" selected value="">Select State</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">City</label><span class="required"> *</span>
                                        <select class="form-control" name="cityid" id="city" required>
                                            <option data-display="General" selected value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <section id="editor">
                                <div class="form-group">
                                    <label for="comment">Qualification</label>
                                    <textarea class="form-control" rows="3" maxlength="2500" name="qualification"></textarea>
                                </div>
                            </section>
                            <section id="editor">
                                <div class="form-group">
                                    <label for="comment">Experience</label>
                                    <textarea class="form-control" rows="3" maxlength="2500" name="experience"></textarea>
                                </div>
                            </section>
                            <section id="editor">
                                <div class="form-group">
                                    <label for="comment">Responsibilities</label>
                                    <textarea class="form-control" rows="4" maxlength="2500" name="responsibilities"></textarea>
                                </div>
                            </section>
                            <section id="editor">
                                <div class="form-group">
                                    <label for="comment">Description</label><span class="required"> *</span>
                                    <textarea class="form-control" rows="5" maxlength="2500" name="description" required></textarea>
                                </div>
                            </section>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" name="document" >
                                <label class="custom-file-label form-control" for="validatedCustomFile">Choose file...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                            <button type="submit" class="btn btn-common">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section End -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    @section scripts{
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
            $(document).ready(function () {

                $('.skill-selector').select2();
                $('.mode-selector').select2();
                $('.category-selector').select2();

                let id =@ViewBag.message;

                $.ajax({
                    type: "GET",
                    url: "/api/Job/"+id,
                    success: function (response) {
                        console.log(response);

                         $.ajax({
                             type: "GET",
                             url: "/api/Country",
                             success: function (co_response) {
                                 co_response.forEach(item => {
                                     $('#country').append("<option value=" + item.id + ">" + item.name + "</option >");
                                 });
                                 $('#country option[value=' + response.countryid + ']').prop('selected', 'true');
                             }
                         });

                         $.ajax({
                             type: "GET",
                             url: "/api/State?id=" + response.countryid,
                             success: function (s_response) {
                                 s_response.forEach(item => {
                                     $('#state').append("<option value=" + item.id + ">" + item.statename + "</option >");
                                 });
                                 $('#state option[value=' + response.stateid + ']').prop('selected', 'true');
                             }
                         });


                         $.ajax({
                             type: "GET",
                             url: "/api/City?id=" + response.stateid,
                             success: function (c_response) {
                                 c_response.forEach(item => {
                                     $('#city').append("<option value=" + item.id + ">" + item.cityname + "</option >");
                                 });
                                 $('#city option[value=' + response.cityid + ']').prop('selected', 'true');
                             }
                         });

                        $.ajax({
                            type: "GET",
                            url: "/api/Job/GetJobTypes",
                            success: function (j_response) {
                                j_response.forEach(item => {
                                    $('#job-type').append("<option value=" + item.id + ">" + item.name + "</option >");
                                });
                                $('#job-type option[value=' + response.job_typeid + ']').prop('selected', 'true');
                            }
                        });

                         $.ajax({
                            type: "GET",
                            url: "/api/Skills",
                            success: function (s_response) {
                                s_response.forEach(item => {
                                    $('.skill-selector').append("<option value=" + item.id + ">" + item.name + "</option >");
                                });

                                let skill_data = JSON.parse(response.skillids);
                                for (let item in skill_data) {
                                    for (let key in skill_data[item]) {
                                        $('.skill-selector option[value=' + skill_data[item][key] + ']').prop('selected', 'true');
                                        console.log(skill_data[item][key]);
                                    }
                                }
                                $('.skill-selector').trigger('change.select2');
                            }
                        });

                        $.ajax({
                            type: "GET",
                            url: "/api/Job/GetJobCategories",
                            success: function (jc_response) {
                                jc_response.forEach(item => {
                                    $('.category-selector').append("<option value=" + item.id + ">" + item.name + "</option >");
                                });

                                let category_data = JSON.parse(response.job_categoryids);
                                for (let item in category_data) {
                                    for (let key in category_data[item]) {
                                        $('.category-selector option[value=' + category_data[item][key] + ']').prop('selected', 'true');
                                        console.log(category_data[item][key]);
                                    }
                                }
                                $('.category-selector').trigger('change.select2');

                            }
                        });

                        $.ajax({
                            type: "GET",
                            url: "/api/Job/GetJobModes",
                            success: function (jm_response) {
                                jm_response.forEach(item => {
                                    $('.mode-selector').append("<option value=" + item.id + ">" + item.name + "</option >");
                                });

                                let mode_data = JSON.parse(response.modeids);
                                for (let item in mode_data) {
                                    for (let key in mode_data[item]) {
                                        $('.mode-selector option[value=' + mode_data[item][key] + ']').prop('selected', 'true');
                                        console.log(mode_data[item][key]);
                                    }
                                }
                                $('.mode-selector').trigger('change.select2');
                            }
                        });

                         $('input[name="title"]').val(response.title)
                         $('input[name="min_salary"]').val(response.min_salary)
                         $('input[name="max_salary"]').val(response.max_salary)
                         $('#stype option[value=' + response.stype + ']').prop('selected', 'true');
                         $('input[name="email"]').val(response.email)
                         $('input[name="phone"]').val(response.phone)
                         $('textarea[name="qualification"]').val(response.qualification)
                         $('textarea[name="responsibilities"]').val(response.responsibilities)
                         $('textarea[name="experience"]').val(response.experience)
                         $('textarea[name="description"]').val(response.description)
                         id = response.id;


                    }
                });


                $('#country').change(function () {
                    $('#state').html("<option selected value=''>Select State</option >");
                    $('#city').html("<option selected value=''>Select City</option >");
                    let country_id = $(this).val();
                    $.ajax({
                        type: "GET",
                        url: "/api/State?id=" + country_id,
                        success: function (response) {
                            response.forEach(item => {
                                $('#state').append("<option value=" + item.id + ">" + item.statename + "</option >");
                            });
                        }
                    });
                });

                $('#state').change(function () {
                    $('#city').html("<option selected value=''>Select City</option >");
                    let state_id = $(this).val();
                    $.ajax({
                        type: "GET",
                        url: "/api/City?id=" + state_id,
                        success: function (response) {
                            response.forEach(item => {
                                $('#city').append("<option value=" + item.id + ">" + item.cityname + "</option >");
                            });
                        }
                    });
                });

                $('#Edit-Job').submit(function (event) {
                    event.preventDefault();
                    let formdata = new FormData(this);
                    let data = new FormData();

                    // Convert FormData to JSON
                    let formDataJson = Object.fromEntries(formdata);


                    let skill_data = {
                        id: formdata.getAll('skillids')
                    }

                    let category_data = {
                        id: formdata.getAll('job_categoryids')
                    }

                    let mode_data = {
                        id: formdata.getAll('modeids')
                    }

                    formDataJson['skillids'] = JSON.stringify(skill_data);
                    formDataJson['job_categoryids'] = JSON.stringify(category_data);
                    formDataJson['modeids'] = JSON.stringify(mode_data);
                    formDataJson['id'] = id;

                    let document = event.target.document.files[0];

                    delete formDataJson['document'];
                    data.append('jobobj', JSON.stringify(formDataJson));
                    document != undefined ? data.append('document', document) : '';

                    $.ajax({
                        type: "PUT",
                        url: '/api/Job/'+id,
                        data: data,
                        contentType: false,
                        processData: false,
                        dataType: 'json',
                        success: function (response) {
                            $(location).attr('href', '/Company/ManageJobs');
                        },
                        error: function (jqXHR) {
                            $('#message').text(jqXHR.responseJSON['message']);
                            $('.back-to-top').click();
                            $('.alert').removeClass('d-none');
                        }
                    });

                });
            })
        </script>
    }

</body>
</html>